header.page-header
    a(href="#").page-header__logo
        img(src="static/images/general/logo-mobile.svg" width=226 height=30 alt="Логотип Барбершопа Бородинский").page-header__logo--image
    include ../navigation/main-nav