header.page-header
    a(href="#").page-header__logo
        img(src="static/images/content/logo-mobile.png" width=226 height=30 alt="Логотип Барбершопа Бородинский")
    include ../navigation/main-nav