section.advantages
    .advantages__wrapper.slider
        h2.visually-hidden Наши преимущества
        ul.advantages__list.slider__list
            li.advantages__item.advantages__item--fast.slider__item
                h3.advantages__title Быстро
                p.advantages__description Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки
            li.advantages__item.advantages__item--cool.slider__item
                h3.advantages__title Круто
                p.advantages__description Забудьте, как вы стриглись раньше! Мы сделаем из Вас звезду футбола или кино. Во всяком случае внешне
            li.advantages__item.advantages__item--price.slider__item
                h3.advantages__title Дорого
                p.advantages__description Наши мастера — профессионалы своего дела и не могут стоить дёшего. К тому же, разве цена не даёт определенный статус?
        p.advantages__toggle.slider__toggles
            button(type="button").slider__toggle 1
            button(type="button").slider__toggle 2
            button(type="button").slider__toggle 3