section.reviews
    .reviews__wrapper.slider
        h2.reviews__title Отзывы о нас
        a(href="#").reviews__write.button Оставь свой
        .reviews__list.slider__list
            blockquote.reviews__item.slider__item
                p.reviews__author-picture
                    img(src="https://via.placeholder.com/50x33" width=50 height=33 alt="Фото Трэвиса Баркера")
                cite.reviews__author-name Трэвис Баркер
                p.reviews__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, что бы было видно новую татуировку
            blockquote.reviews__item.slider__item
                p.reviews__author-picture
                    img(src="https://via.placeholder.com/50x33" width=50 height=33 alt="Фото Вила Смитта")
                cite.reviews__author-name Вил Смит
                p.reviews__text Отличную стрижку мне сделали ребята!
            blockquote.reviews__item.slider__item
                p.reviews__author-picture
                    img(src="https://via.placeholder.com/50x33" width=50 height=33 alt="Фото Ивана Бородайло")
                cite.reviews__author-name Иван Бородайло
                p.reviews__text В Бородинском Ваша борода в надежных руках!
            button(type="button").reviews__prev Предыдущий отзыв
            button(type="button").reviews__next Следующий отзыв
        p.reviews__toggle.slider__toggles
            button(type="button").slider__toggle 1
            button(type="button").slider__toggle 2
            button(type="button").slider__toggle 3