extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	h1.visually-hidden Барбершоп "Бородинский" Истинно мужская классика
	include modules/main/stats
	include modules/main/advantages
	include modules/main/news
	include modules/main/reviews

