@font-face {
  font-family: 'PT Sans Narrow Regular';
  src: url('/static/fonts/PTSans-Narrow.eot');
  src: url('/static/fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/PTSans-Narrow.woff') format('woff'),
  url('/static/fonts/PTSans-Narrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url('/static/fonts/PTSans-NarrowBold.eot');
  src: url('/static/fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/PTSans-NarrowBold.woff') format('woff'),
  url('/static/fonts/PTSans-NarrowBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}