.site-list {
  @media screen and (min-width: $tablet-size) {
    width: 570px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 780px;
  }
}

.user-list {
  @media screen and (min-width: $tablet-size) {
    width: 60px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 160px;
  }
}