.page-header {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet-size) {
    background-color: #000000;
  }
  &__logo {
    height: 85px;
    text-align: center;
    &--image {
      width: 226px;
      height: 85px;
      @media screen and (min-width: $tablet-size) {
        display: block;
        width: 370px;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
      }
      @media screen and (min-width: $desktop-size) {
        margin-top: 57px;
      }
    }
    @media screen and (min-width: $tablet-size) {
      background: #000000 url("/static/images/general/bg-tablet.jpg") no-repeat center;
      background-size: cover;
      width: 100%;
      height: 400px;
      order: 2;
    }
    @media screen and (min-width: $desktop-size) {
      background: #000000 url("/static/images/general/bg-desktop.jpg") no-repeat center;
      background-size: cover;
      height: 650px;
    }
  }
}