.main-nav {
  position: relative;
  background-color: #826550;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  @media screen and (min-width: $tablet-size) {
    width: auto;
    margin: 0;
  }
  &__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 70px;
    height: 50px;
    background-color: #6a4d38;
    cursor: pointer;
    border: none;
    &:hover { background-color: #624530; }
    &:active { background-color: #624530; }
  }
  &__wrapper {
    @media screen and (min-width: $tablet-size) {
      display: flex;
      justify-content: space-between;
      width: 640px;
      margin: 0 auto;
    }
    @media screen and (min-width: $desktop-size) {
      width: 960px;
    }
  }
}

//Спецефицеские стили для переключателя меню в мобильной версии

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}