nav.main-nav.main-nav--opened
    button(type="button").main-nav__toggle
        span.visually-hidden Открыть меню
    .main-nav__wrapper
        ul.main-nav__list.site-list
            li.site-list__item.site-list__item--active
                a Главная
            li.site-list__item.site-list__item
                a(href="#") Наши работы
            li.site-list__item.site-list__item
                a(href="#") Записаться
            li.site-list__item.site-list__item
                a(href="#") Контакты
            li.site-list__item.site-list__item
                a(href="#") HTML Academy
        ul.main-nav__list.user-list
            li.user-list__item
                a(href="#").user-list__login Войти