footer.page-footer
    .page-footer__wrapper
        .page-footer__contacts.contacts
            b.contacts__title Барбершоп "Бородинский"
            p.contacts__text г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
                a(href="tel:+78125556666").contacts__phone <span class="contacts__phone-mobile">Тел:</span> +7 (812) 555-66-66
        .page-footer__social.social
            b.social__title Давайте дружить!
            ul.social__list
                li.social__item
                    a(href="https://vk.com/htmlacademy").social__link.social__link--vkontakte Мы в контакте
                li.social__item
                    a(href="https://www.facebook.com/htmlacademy").social__link.social__link--facebook Мы в фэйсбуке
                li.social__item
                    a(href="https://www.instargam.com/htmlacademy").social__link.social__link--vkontakte Мы в инстаграм
        .page-footer__copyright.copyright
            b.copyright__text Разработано:
            a(href="https://htmlacademy.ru") HTML Academy